body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: 'Roboto', sans-serif;
}

input {
  font-family: 'Roboto', sans-serif;
  padding: 8px;
}

#screen {
  height: 100vh;
  width: 100%;
  display: flex;
}

#player {
  width: 75%;
  height: 100%;
}

#sidebar {
  position: relative;
  width: 25%;
  height: 100%;
  background-color: #283593;
  color: #FFF;

  #video-add-btn {
    border-radius: 0;
    background: rgb(63, 81, 181);
    border: none;
  }

  #video-add-input {
    border-radius: 0;
    border: none;
  }
}

#play-content {
  .video {
    width: 80%;
    margin: 10px auto;
    img {
      width: 100%;
    }
  }
}
