body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: 'Roboto', sans-serif;
}

input {
  font-family: 'Roboto', sans-serif;
  padding: 8px;
}

#screen {
  height: 100vh;
  width: 100%;
  display: flex;
}

#player {
  width: 75%;
  height: 100%;
}

#sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25%;
  height: 100%;
  background-color: #283593;
  color: #FFF;

  #video-add-btn {
    border-radius: 0;
    background: rgb(63, 81, 181);
    border: none;
    .material-icons {
      vertical-align: middle;
    }
  }

  #video-add-input {
    border-radius: 0;
    border: none;
  }

  #videos {
    overflow-y: auto;
  }

  .video {
    position: relative;
    margin: 20px;
    display: block;
    color: #FFF;

    span {
      position: absolute;
      top: 5%;
      left: 5%;
      max-width: 90%;
      text-shadow: 0 2px 3px black;
    }

    img {
      width: 100%;
    }
  }

  #playlistMenuButton {
    width: 100%;
    background: #283593;
    border: none;
  }

  #playlistMenu {
    .dropdown-menu {
      width: 100%;
      transform: translate3d(0px, 35px, 0px);
    }
  }
}

#play-content {
  .video {
    width: 80%;
    margin: 10px auto;
    img {
      width: 100%;
    }
  }
}
