{% extends 'base.html' %}

{% block content %}
    <section id="screen">
        <div id="player"></div>
        <div id="sidebar">
            <div class="input-group">
                <input type="text" class="form-control" id="video-add-input" placeholder="Video or playlist url"
                       aria-label="Video or playlist url">
                <span class="input-group-btn">
                    <button id="video-add-btn" class="btn btn-secondary" type="button">Add</button>
                </span>
            </div>
            <div id="videos">
            </div>
        </div>
    </section>
    <script type="text/javascript" src="//cdn.socket.io/socket.io-1.4.5.js"></script>
    <script>
        var socket = io('http://' + document.domain + ':' + location.port);

        var room = '{{ room_id }}';
        socket.on('connect', function () {
            socket.emit('join', room);
        });

        var ignore = true;
        function supress() {
            ignore = true;
            setTimeout(function () {
                ignore = false
            }, 300)
        }

        // Load YouTube frame
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player;

        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                videoId: '{{ room.video_now }}',
                playerVars: {'autoplay': {{ play }}, 'color': 'white'},
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
            supress()
        }

        // Made to stop player without showing infinite loading
        stopFirst = true;

        function onPlayerReady(event) {
            event.target.seekTo({{ time }});
            if ({{ play }}) {
                stopFirst = false
            }
        }

        function onPlayerStateChange(event) {
            if (stopFirst && event.data === 1) {
                event.target.pauseVideo();
                stopFirst = false;
            }

            if (!ignore) {
                if (event.data === 2) {
                    socket.emit('pause', room, player.getCurrentTime())
                } else if (event.data === 1) {
                    socket.emit('play', room, player.getCurrentTime())
                }
            }
        }

        $("#video-add-btn").click(function (event) {
            var video_add_input = $("#video-add-input");
            var url = video_add_input.val();
            video_add_input.val('');
            socket.emit('add', room, url);
        });

        // Play
        socket.on('play', function(time) {
            if(Math.abs(player.getCurrentTime() - time) > 3 || player.getPlayerState() !== 1)
            {
                player.seekTo(time);
                player.playVideo();
                supress()
            }
        });

        // Pause
        socket.on('pause', function (time) {
            if(Math.abs(player.getCurrentTime() - time) > 3 || player.getPlayerState() !== 2)
            {
                player.seekTo(time);
                player.pauseVideo();
                supress()
            }
        });

        socket.on('video_added', function (a) {
            console.log(a);
        });
    </script>
{% endblock %}
