{% extends 'base.html' %}

{% block content %}
<div class="modal hide" id="wwm-name-modal">
  <div class="modal-content-wrapper">
    <div class="modal-content">
      <h2>How would you like to be called?</h2>
      <input id="wwm-name" placeholder="Your name" />
      <div class="button-group">
        <button id="wwm-name-cancel">I am ninja</button>
        <button id="wwm-name-button">Ok</button>
      </div>
    </div>
  </div>
</div>
<section id="screen">
<div id="player"></div>
<div id="sidebar">
  <div class="tabs">
    <div class="tab active" id="chat">
      <i class="material-icons">chat_bubble_outline</i>
    </div>
    <div class="tab" id="play">
      <i class="material-icons">playlist_play</i>
    </div>
    <div class="tab" id="settings">
      <i class="material-icons">settings</i>
    </div>
  </div>
  <div class="tab-content active" id="chat-content">
    <input id="text-input" />
  </div>
  <div class="tab-content" id="play-content">
    Place video url here
    <input id="url-input" />
    {% for video in room.playlist %}
      <div class="video" id="{{ video }}">
        <img src="https://img.youtube.com/vi/{{ video }}/0.jpg" />
      </div>
    {% endfor %}
  </div>
  <div class="tab-content" id="settings-content">
    Settings content
  </div>
</div>
</section>
<script type="text/javascript" src="//cdn.socket.io/socket.io-1.4.5.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='style.js') }}"></script>
<script>
  // Create socket
  var socket = io('http://' + document.domain + ':' + location.port);

  var room = '{{ room_id }}'
  socket.on('connect', function() {
    socket.emit('join', room);
  });

  var ignore = true

  function supress() {
    ignore = true
    setTimeout(() => {
      ignore = false
    }, 300)
  }

  // Load YouTube frame
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      videoId: '{{ room.video_id }}',
      playerVars: { 'autoplay': {{ play }}, 'color': 'white' },
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
    supress()
  }

  // Made to stop player without showing infinite loading
  stopFirst = true

  function onPlayerReady(event) {
    event.target.seekTo({{ time }})
    if({{ play }}) {
      stopFirst = false
    }
  }

  function onPlayerStateChange(event) {
    if (stopFirst && event.data == 1) {
      event.target.pauseVideo()
      stopFirst = false;
    }

    if (!ignore) {
      if (event.data == 2) {
        socket.emit('pauseAt', room, player.getCurrentTime())
      } else if (event.data == 1) {
        socket.emit('playAt', room, player.getCurrentTime())
      }
    }
  }

  // Receive messages on chat
  socket.on('chat', (message) => {
    $( "#chat-content" ).append('<div class="message">' + message + '</div>');
  })

  // Send message through chat
  $('#chat-content input').keypress(function (e) {
    if (e.which == 13) {
      var input = $('#chat-content input')
      var user = get_user()
      socket.emit('chat', room, user, input.val())
      input.val('')
      return false;
    }
  });

  // Play
  socket.on('play', (time) => {
    if (Math.abs(player.getCurrentTime() - time) > 3 || player.getPlayerState() != 1) {
      player.seekTo(time)
      player.playVideo()
      supress()
    }
  })

  // Pause
  socket.on('pause', (time) => {
    if (Math.abs(player.getCurrentTime() - time) > 3 || player.getPlayerState() != 2) {
      player.seekTo(time)
      player.pauseVideo()
      supress()
    }
  })

  // Change video
  socket.on('changeVideo', (id) => {
    player.loadVideoById(id)
  })

  // Add video to playlist
  $('#play-content input').keypress(function (e) {
    if (e.which == 13) {
      var input = $('#play-content input')
      var user = get_user()
      socket.emit('addVideo', room, user, input.val())
      input.val('')
      return false;
    }
  });

  // Play
  socket.on('videoAdded', (id) => {
    $("#play-content").append('<div class="video" id="' + id + '"><img src="https://img.youtube.com/vi/' + id + '/0.jpg" /></div>')
  })
</script>
{% endblock %}
